body {
    background-image: linear-gradient(to bottom, #6e98adab, #9c5c5c);
    font-family: Arial, sans-serif;
}

h1 {
    color: #e5e5e5
}

.highlight {
    color: #e5e5e5;
    background-color: #4b5f35;
    padding:50px;
    width: 50%;
    border-radius: 10px;
    margin: 80px auto;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.2);
    justify-self: center;
}

.gallery-image {
    width: 64%;
    height: 64%;
    object-fit: contain;
    margin: 0px;
}

#img-1{ 
    border: 2px solid #dbdbdb;
}

#img-2 {
    border: 2px solid #d4d4d4;
}

#img-3 {
    border: 2px solid #a2a2a2;
}

.index {
    background-color: #4b5f35;
    padding: 50px;
    width: 50%;
    border-radius: 10px;
    margin: 80px auto;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.2);
    justify-self: center;
}
